<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148195066847-vj0vr9eca91hdscchmvnceg81a89326l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148195066847-vj0vr9eca91hdscchmvnceg81a89326l</string>
	<key>API_KEY</key>
	<string>AIzaSyBhU-i7CrW8f4For0mygvBwdRq-MQ4jhB0</string>
	<key>GCM_SENDER_ID</key>
	<string>148195066847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.mobileplus.trilucmaster</string>
	<key>PROJECT_ID</key>
	<string>tl-master</string>
	<key>STORAGE_BUCKET</key>
	<string>tl-master.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148195066847:ios:06179f62b5739baf23fa6a</string>
</dict>
</plist>