<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622757137908-ulj01jimndt8sg3qsmo15eu45aj1thpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622757137908-ulj01jimndt8sg3qsmo15eu45aj1thpo</string>
	<key>API_KEY</key>
	<string>AIzaSyAwadNF9vZztGdiOeLi5Yuh1SWt9G4DhBs</string>
	<key>GCM_SENDER_ID</key>
	<string>622757137908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cxview.app</string>
	<key>PROJECT_ID</key>
	<string>cxview-6c811</string>
	<key>STORAGE_BUCKET</key>
	<string>cxview-6c811.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622757137908:ios:31237a61fd6d8ec0903da1</string>
</dict>
</plist>